# colcon
build/
install/
log/
~/colcon_logs/

# python
.pytest_cache/
__pycache__/
*.pyc
*.pyo

# vscode
.vscode/

# cursor
.cursor/
.cursorignore
.cursorules
*.cursor-tutor

# ros log
~/.ros/log/

# xacro out
*.urdf

# gz cache
~/.gazebo/

# os junk
.DS_Store
Thumbs.db
